:root {
  --Very-light-pink: #c7c7c7;
  --Text-input-field: #f7f7f7;
  --Hospital-green: #acd9b2;
  --White: #ffffff;
  --Black: #000000;
  --Dark: #232830;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  background-color: var(--White);
  font-family: "Quicksand", sans-serif;
  margin: 0;
}
.login {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.logo {
  width: 150px;
  margin-bottom: 100px;
  justify-self: center;
  display: none;
}
.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.title {
  text-align: center;
  font-size: var(--lg);
  margin-bottom: 12px;
}
.title-crear {
  font-size: var(--lg);
  margin-bottom: 12px;
}

.subtitle {
  text-align: center;
  color: var(--Very-light-pink);
  font-size: var(--md);
  font-weight: 300;
  margin-bottom: 32px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label {
  font-size: var(--sm);
  font-weight: 500;
  margin: 12px 0;
}

.input {
  background-color: var(--Text-input-field);
  border-radius: 8px;
  padding: 4px;
  border: none;
  font-size: var(--sm);
}

.primary-button {
  background-color: var(--Hospital-green);
  border: none;
  text-align: center;
  color: var(--White);
  font-weight: 500;
  margin: 30px 0 10px 0;
  border-radius: 8px;
  height: 50px;
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
}
.primary-button:hover {
  background-color: green;
  border: none;
}

.secondary-button:hover {
  background-color: green;
  border: none;
}

.icono {
  place-self: center;
  width: 50%;

  height: 50%;
}

.container-icono {
  place-self: center;
  display: flex;
  place-content: center;
  background-color: var(--Text-input-field);
  border-radius: 50%;
  height: 150px;
  width: 50%;
}
.text {
  font-size: var(--sm);
  justify-self: center;
  margin: 10px 0;
}

.text span {
  font-size: var(--sm);
  color: var(--Very-light-pink);
}
.text a {
  font-size: var(--sm);
  color: var(--Hospital-green);
  text-decoration: none;
}

.secondary-button {
  background-color: var(--Text-input-field);
  border: 2px solid var(--Hospital-green);
  color: var(--Hospital-green);
  border-radius: 8px;
  height: 50px;
  align-self: end;
}
.forgotPassword {
  font-size: var(--sm);
  color: var(--Hospital-green);
  text-decoration: none;
  margin-bottom: 12px;
  text-align: center;
}

.login-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.form div {
  display: flex;
  flex-direction: column;
}

.signUp-button {
  margin-top: 100px;
}

@media (max-width: 640px) {
  .logo {
    display: block;
    margin-bottom: 20px;
  }
  .login-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
  }
}

@media (max-width: 640px) {
  .form-containerCreateAccount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100%;
  }
  .form {
    margin-top: 50px;
  }
  .primary-button {
    margin-bottom: 50px;
  }
}

@media (max-width: 640px) {
  .form-containerCreateAccount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100%;
  }
  .form {
    margin-top: 50px;
  }
  .primary-button {
    margin-bottom: 50px;
  }
}
