:root {
  --Very-light-pink: #c7c7c7;
  --Text-input-field: #f7f7f7;
  --Hospital-green: #acd9b2;
  --White: #ffffff;
  --Black: #000000;
  --Dark: #232830;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  background-color: var(--White);
  font-family: "Quicksand", sans-serif;
  margin: 0;
}
.login {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.logo {
  width: 150px;
  margin-bottom: 100px;
  justify-self: center;
  display: none;
}
.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.title {
  text-align: center;
  font-size: var(--lg);
  margin-bottom: 12px;
}

.subtitle {
  text-align: center;
  color: var(--Very-light-pink);
  font-size: var(--md);
  font-weight: 300;
  margin-bottom: 32px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label {
  font-size: var(--sm);
  font-weight: 500;
  margin: 12px 0;
}

.input {
  background-color: var(--Text-input-field);
  border-radius: 8px;
  padding: 4px;
  border: none;
  font-size: var(--sm);
}

.primary-button {
  background-color: var(--Hospital-green);
  border: none;
  text-align: center;
  color: var(--White);
  font-weight: 500;
  margin: 40px 0;
  border-radius: 8px;
  height: 50px;
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
}
.primary-button:hover {
  background-color: green;
  border: none;
}

@media (max-width: 640px) {
  .logo {
    display: block;
  }
}
